button-size = 110px
button-size--small = 90px

query--small = 1200px

color-darkred = #D32F2F
color-red = #EF6C00
color-orange = #EF6C00
color-yellow = #FFA000

color-green = #7CB342
color-lightgreen = #00E676

color-blue = #03A9F4
color-purple = #3F51B5

color-lightgray = #BDBDBD
color-grayer = #AAA
color-gray = #607D8B

@import "styles/common.styl"
@import "styles/tabs.styl"
@import "styles/toasts.styl"
@import "styles/layout.styl"
@import "styles/suggestions.styl"
@import "styles/controls.styl"
@import "styles/cart.styl"
@import "styles/panel.styl"
@import "styles/popup.styl"
@import "styles/sellers.styl"
@import "styles/storage.styl"
@import "styles/dark.styl"

@import "styles/dashboard.styl"
@import "styles/config.styl"