.cart
	counter-reset: cart
	overflow-y: auto
	flex-grow: 1

.cart > .item
	counter-increment: cart
	
	display: grid
	grid-template-columns: 80px 3fr 80px 80px 80px 1fr

	min-height: 80px
	align-items: center
	
	border-bottom: 1px solid rgba(0,0,0,0.1)
		
	&.selected
		background: rgba(0,0,0,0.05)
	
	> *
		flex-grow: 1
		
	.item-detail
		display: flex
		align-items: center
		padding: .8em

	.name
		noselect()
		display: flex
		cursor: pointer
		flex-grow: 1
		flex-wrap: wrap
		word-break: break-all
		
		&:empty:before
			content: "Název"
			text-transform: lowercase
			opacity: 0.2
			font-style: italic

	.ean
		noselect()
		cursor: pointer
		
		display: flex
		justify-content: center
		align-items: center
		font-size: 1.3em

		padding-left: .4em
	
		svg
			width: 1.2em
			height: 1.2em

		svg path
			fill: color-grayer

	.price
		text-align: right

		padding-left: .8em
		
	.qty
		text-align: right
		align-self: center
		justify-self: center
		
		.inline-btn
			&:active, &.tapped
				color: #ffffff
				
			&:first-child.tapped, &:first-child:active
				background: color-red
			&:last-child.tapped, &:last-child:active
				background: color-green

		.value
			flex-grow: 1
			flex-basis: 80px
			min-width: 80px
			text-align: center
			
	.inline-btn
		noselect()
		cursor: pointer
		justify-self: stretch
		align-self: stretch
		
		display: flex
		justify-content: center
		align-items: center
		font-size: 1.3em
	
		border-left: 1px solid rgba(0,0,0,0.1)
		border-right: 1px solid rgba(0,0,0,0.1)
		
		
	.total
		padding-right: 1em
		text-align: right
		font-weight: 500
	
	.digit
		text-align: center
		font-size: 0.8em
		
		&:before
			content: counter(cart)	

		&.tapped, &:active
			background: color-red
			
		&.tapped:before, &:active:before
			transform: translateY(-3px)
			color: #ffffff
			font-size: 2em
			content: "\00d7"