#config
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: flex
	flex-direction: column

	textarea
		flex-grow: 1
		border: none
		font-size: 1.5em
		padding: 2em
		
	button
		background: color-blue
		border: none
		font-size: 2.5em
		color: white
		min-height: button-size
		flex-basis: button-size

	button:disabled 
		background: color-red
		opacity: 0.5