.screen
	flex-grow: 1
	font-size: 4em
	text-align: right
	
	overflow-x: hidden
	
	font-weight: 400
	
	position: relative
	
	display: flex
	align-items: stretch
	flex-direction: column
	
	justify-content: flex-end

	min-height: button-size
	@media (max-width: query--small)
		min-height: button-size--small

	&.STAGE_ADDED
		color: color-green
		
	&.COMMIT_BEGIN
		color: color-blue
		
	.value
		display: flex
		justify-content: flex-end
		align-items: flex-end
		
		padding: 20px
		
	.remove 
		noselect()
		
		position: absolute
		top: 0
		left: 0
		
		display: flex

		color: #333
		opacity: 0.3
		font-size: 0.7em
		
		align-items: center
		justify-content: center

		width: button-size
		height: button-size

		a svg
			width: 1em
			height: 1em

		&.tapped
			opacity: 0.35

		* 
			pointer-events: none

.keypad
	display: flex
	flex-wrap: wrap
	min-height: button-size * 4

	@media (max-width: query--small)
		min-height: button-size--small * 4
	
	.btn a.tapped
		background: rgba(150,150,150,0.1)
	
	.btn.add
		background: color-gray
		color: #ffffff
		
		a.tapped
			background: darken(color-gray, 5%)

		a
			font-size: 4.2em

		a *
			pointer-events: none
			
		svg
			width: 0.8em
			height: 0.8em
			
		svg path
			fill: #fff
		
	.btn:nth-child(3n+1)
		box-shadow: inset -1px 0px 0px rgba(0,0,0,.1), inset 0px 1px 0px rgba(0,0,0,.1)
		
	.btn:nth-child(3n)
		box-shadow: inset 1px 0px 0px rgba(0,0,0,.1), inset 0px 1px 0px rgba(0,0,0,.1)
		
	.btn:nth-child(3n+2)
		box-shadow: inset 0px 1px 0px rgba(0,0,0,.1)
		
	.btn:last-child
		border-right: none
		min-width: "calc(%s * 2)" % (button-size)

		@media (max-width: query--small)
			min-width: "calc(%s * 2)" % (button-size--small)
