body.dark, body.dark #root
	background: #333
	color: rgba(255,255,255,0.8)
	
	.sidebar, .popup .inside 
		background: #333333
	
	.keypad, #dashboard .days
		background: #393939
		
	.panel
		background: #353535
		
	.names .suggestion, .popup .content .groups .item a
		background: #444444

		&.tapped
			background: darken(@background, 8%)
			
	.btn, .screen[class="screen"], .screen .remove, .cart, .names .suggestion
		color: rgb(255,255,255)
		
	
	.sidebar .remove svg path, .suggestions .delete svg path
		fill: rgb(255,255,255)
	
	.cart .item.selected, #dashboard .day .customer .items
		background: rgba(0,0,0,0.1)
		
	.cart .item .inline-btn
		border-left-color: rgba(0,0,0,0.2)
		border-right-color: rgba(0,0,0,0.2)
	.cart .item
		border-bottom-color: rgba(0,0,0,0.2)

