#dashboard
	display: flex
	justify-content: flex-stretch
	align-items: flex-stretch
	
	height: 100vh

#dashboard .summary

	.table
		margin: 30px
		border: 1px solid rgba(0,0,0,0.1)
		border-bottom: none

	.table .month
		padding: 20px 0
		display: flex
		border-bottom: 1px solid rgba(0,0,0,0.05)

	.table .month:nth-child(2n)
		background: rgba(0,0,0,0.03)

	.table .head
		border-bottom: 1px solid rgba(0,0,0,0.1)

	.table .head *
		display: flex
		flex-direction: column
		justify-content: center

	.table .head .totals 
		flex-direction: row

	.table .head div:not(.totals)
		font-size: 1.3em
		
	.table .head .totals .seller span
		display: block
		text-align: right
		font-size: 1em
		width: 100%

	.table .head .totals .seller .ic
		font-size: 0.7em

	.table .month *
		flex-grow: 1
		text-align: left

	.table .month .period
		padding-left: 20px
		width: 30%

	.table .month .full
		width: 20%
		text-align: right
		padding-right: 20px

	.table .month .totals
		display: flex
		width: 50%
		text-align: right
		
	.table .month .totals span
		flex-grow: 1
		text-align: right
		width: 50%
	
#dashboard .day
	flex-grow: 1
	
	overflow: auto
	overflow-x: hidden
	
	display: flex
	flex-direction: column
	

	.customers
		flex-grow: 1
			
		overflow: auto
		overflow-x: hidden
		
	.customer
		min-height: button-size * 0.8

		@media (max-width: query--small)
			min-height: button-size--small * 0.8

		align-items: center
		font-size: 1.3em
		
		flex-wrap: wrap
		
		
		box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1) 

	.customer .metadata
		noselect()

		display: flex
		align-items: center
		height: button-size * 0.8
		margin: 0px button-size * 0.2
		
		@media (max-width: query--small)
			height: button-size--small * 0.8
			margin: 0px button-size--small * 0.2

		cursor: pointer
		
		.time
			width: 10%
			text-align: left
			font-weight: 500
			
		.sumqty
			width: 15%
		
		span
			width: 25%
			text-align: right
			
		
	.customer .actions .print
		padding-bottom: button-size * 0.8
		@media (max-width: query--small)
			padding-bottom: button-size--small * 0.8
		background: color-gray
		
		a
			justify-content: flex-end
			padding-right: button-size * 0.3
			@media (max-width: query--small)
				padding-right: button-size--small * 0.3

		a.tapped
			background: darken(color-gray, 10%)
		
	.customer .items
		noselect()
		
		border-top: 1px solid rgba(0,0,0,0.05) 
		background: rgba(0,0,0,0.02) 
		margin: 0
		list-style: none
		min-width: 100%
		padding: button-size * 0.2 button-size * 0.2 0

		@media (max-width: query--small)
			padding: button-size--small * 0.2 button-size--small * 0.2 0
		

		li
			width: 100%
			padding-bottom: button-size * 0.2

			@media (max-width: query--small)
				padding-bottom: button-size--small * 0.2
		
		li > span
			display: inline-block
			flex-grow: 1
			
		li .name
			width: 40%
			font-weight: 500
			
		li .name:empty:before
			content: "Zboží"
			font-weight: 300
			opacity: 0.3
			
		li .qty
			width: 20%
			text-align: right
			
		li .price
			width: 20%
			text-align: right
		li .total
			width: 20%
			text-align: right
	
#dashboard .day .dayinfo
	min-height: button-size * 0.8
	flex-basis: button-size * 0.8
	padding: button-size * 0.2
	font-size: 1.5em

	@media (max-width: query--small)
		min-height: button-size--small * 0.8
		flex-basis: button-size--small * 0.8
		padding: button-size--small * 0.2

	box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1) 
	display: flex

	align-items: center
	
	background: color-blue
	color: white

	.label
		flex-grow: 1
		
	.seller-total
		display: flex

		.seller
			display: flex
			flex-direction: column
			align-items: flex-end

			margin-left: button-size * 0.4

			@media (max-width: query--small)
				margin-left: button-size--small * 0.4

		.seller-info
			font-size: 0.5em
#dashboard .days
	width: 300px
	max-height: 100vh
	overflow-x: hidden
	overflow: auto
	
	background: white
	box-shadow: -1px 0px 0px rgba(0,0,0,0.1) 
	
	.day
		noselect()
		cursor: pointer
		display: flex
		flex-direction: column
		justify-content: center
		
		box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1) 
		height: button-size * 0.8
		padding-left: button-size * 0.2

		@media (max-width: query--small)
			height: button-size--small * 0.8
			padding-left: button-size--small * 0.2
	.day .label
		opacity: 0.20
		font-size: 1.5em
		
	.day .total
		opacity: 0.2
		
	.day.active .label
		opacity: 1
		
	.day.active .total
		opacity: 0.5