.panel
	box-shadow: 0px -2px 10px rgba(0,0,0,0.05)

.second-panel
	height: button-size	

	@media (max-width: query--small)
		height: button-size--small

	display: flex
	background: rgba(0,0,0,0.01)
	box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1)
	
	.drawer
		font-size: 0.5em
		color: #ffffff
		position: relative

		width: button-size
		max-width: button-size
		min-width: button-size
		flex-basis: button-size

		@media (max-width: query--small)
			width: button-size--small
			max-width: button-size--small
			min-width: button-size--small
			flex-basis: button-size--small

		a 
			box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1)
			
			width: button-size
			background: color-lightgray

			@media (max-width: query--small)
				width: button-size--small
			
			&.tapped
				background: darken(color-lightgray, 10%)
			
			*
				pointer-events: none
		
		svg
			width: 1.2em
			height: 1.2em
			
		svg path
			fill: #ffffff

.names
	display: flex
	
	overflow-x: auto
	overflow-y: hidden

	align-items: center
	
	height: button-size	
	padding-left: (button-size / 2) - (button-size / 4) + (5px / 2)
	
	@media (max-width: query--small)
		height: button-size--small	
		padding-left: (button-size--small / 2) - (button-size--small / 4) + (5px / 2)

	.suggestion
		
		noselect()
			
		height: (button-size / 2) - 5px
		cursor: pointer
		padding: 0px 15px
		background: #fff
		white-space: nowrap
		border: 1px solid rgba(0,0,0,0.1)
		box-shadow: 0px 1px 5px rgba(0,0,0,0.1)
				
		display: flex
		align-items: center
		justify-content: center
		border-radius: 5px
		
		margin-right: 15px
		text-transform: capitalize
		
		&:last-child
			margin-right: 0

		&.tapped
			background: rgba(0,0,0,0.05)
			
		@media (max-width: query--small)
			height: (button-size--small / 2) - 5px

	&:after
		content: ""
		height: button-size
		flex-basis: (button-size / 2) - (button-size / 4) + (5px / 2)
		min-width: (button-size / 2) - (button-size / 4) + (5px / 2)

		@media (max-width: query--small)
			height: button-size--small
			flex-basis: (button-size--small / 2) - (button-size--small / 4) + (5px / 2)
			min-width: (button-size--small / 2) - (button-size--small / 4) + (5px / 2)

	
.actions
	display: flex
	
	> .btn
		font-size: 0.5em
		color: #ffffff
		background: color-gray
		position: relative
		
		svg
			width: 1.2em
			height: 1.2em
			
		svg path
			fill: #ffffff

		a *
			pointer-events: none
		
	.checkout, .total, .total + .status
		font-size: 0.4em

	.small
		max-width: button-size

		@media (max-width: query--small)
			max-width: button-size--small
		
	.total
		background: color-purple
		a.tapped { background: darken(color-purple, 5%) }	
			
	.checkout, .edit, .print
		background: color-blue

		a.tapped { background: darken(color-blue, 5%) }	
		
	.qty
		background: color-yellow
		a.tapped { background: darken(color-yellow, 5%) }
		
	.clear
		background: color-darkred

		a.tapped { background: darken(color-darkred, 5%) }
		
	.discount
		background: color-orange

		a.tapped { background: darken(color-orange, 5%) }

	.status, .status.positive
		background: color-green

		a.tapped { background: darken(color-green, 5%) }

	.status.negative
		background: color-orange

		a.tapped { background: darken(color-orange, 5%) }

	@media (max-width: 1023px)
		.total
			display: none

	@media (max-width: 755px)
		.qty
			display: none

	// @media (max-width: 666px)
	// 	flex-direction: column
	