.popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0,0.6)
	z-index: 5
	
	display: flex
	align-items: flex-start
	justify-content: center
	
	font-size: 14px
	
	.inside
		background: #ffffff
		width: 100%
		
		position: relative
		box-shadow: 0px 2px 10px rgba(0,0,0,0.5)
		
	.inside .header
		display: flex
		
		font-size: 1em
		font-weight: 300
		background: color-gray
		color: white
		
		text-transform: lowercase

	.heading
		display: flex
		flex-direction: column
		height: button-size * 0.8
		width: "calc(100% - %s)" % (button-size * 0.8)

		@media (max-width: query--small)
			height: button-size--small * 0.8
			width: "calc(100% - %s)" % (button-size--small * 0.8)

		font-size: 2em
		
		position: relative
		padding-left: 1em
		
		span
			font-size: .6em
			color: black
			padding: 8px 0 0px
			opacity: 0.4
				
	.pricetag
		font-size: 2em
		display: flex
		height: button-size * 0.8
		margin-right: button-size * 0.2

		@media (max-width: query--small)
			height: button-size--small * 0.8
			margin-right: button-size--small * 0.2

		text-transform: capitalize
		white-space: nowrap
		align-items: center
		justify-content: center

	.heading .input
		width: 100%
		margin-left: -1em
		flex-grow: 1
		
		display: flex
		align-items: flex-end
		justify-content: center
		
		padding: .5em 1em
		
		input
			font-size: 1.2em
			color: white
			width: 100%
			border: none
			background: transparent
			border-bottom: 3px solid rgba(0,0,0,0.1)
			height: 100%
			outline: none
			
		input::-webkit-input-placeholder
			color: rgba(0,0,0,0.2)
		
	.inside .content
		max-height: 40vh
		overflow-y: auto
		overflow-x: hidden
		font-size: 2em
		
	.buttons
		display: flex
		
		> *
			outline: none
			
			display: flex
			text-align: center
			align-items: center
			justify-content: center
			min-width: button-size * 0.8
			height: button-size * 0.8

			@media (max-width: query--small)
				min-width: button-size--small * 0.8
				height: button-size--small * 0.8
				
			font-size: 5em
			font-weight: 300
			
			cursor: pointer
			border: 0

			noselect()

			* 
				pointer-events: none
			
		.close
			background: color-orange

			&.tapped
				background: darken(@background, 10%)
	
		.ok
			background: color-green
			&.tapped
				background: darken(@background, 10%)
			
		svg
			width: .8em
			height: .8em
			
		svg path
			fill: #ffffff
			
			
	.content .groups
		padding: 1em 1em .5em
		
		.group
			display: flex
		
		ul
			list-style: none
			display: flex
			flex-wrap: wrap

		.item 
			height: auto
			border-bottom: none
			padding-right: 0
			margin-right: .5em

		.item a
			noselect()
			display: flex
			align-items: center
			padding: 0 .5em
			border: 1px solid rgba(0,0,0,0.1)
			
			margin-bottom: .5em
			border-radius: 3px
			box-shadow: 0px 2px 4px rgba(0,0,0,0.05)
			cursor: pointer

			height: (button-size * 0.5) - 5px 

			&.tapped
				background: rgba(0,0,0,0.05)

			

			@media (max-width: query--small)
				height: (button-size--small * 0.6) - 5px 
		
		.groupname
			noselect()
			margin-right: .5em
			display: flex
			align-items: center
			justify-content: center			
			height: (button-size * 0.5) - 5px
			min-width: (button-size * 0.5) - 5px

			@media (max-width: query--small)
				height: (button-size--small * 0.6) - 5px
				min-width: (button-size--small * 0.6) - 5px
						
			text-transform: uppercase
			color: #ffffff
			
			background: color-gray