.sellers-panel 
    display: flex
    flex-direction: column

    min-height: button-size	* 0.8
    max-height: button-size	* 0.8
    overflow: hidden

    background: rgba(0,0,0,0.05)
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3)

    .seller
        padding-left: button-size * 0.2
        height: button-size	* 0.8
        min-height: button-size	* 0.8
        display: flex
        flex-direction: column
        justify-content: center
        cursor: pointer

        &:nth-child(2n+1)
            color: color-green

        &:nth-child(2n)
            color: color-blue

        &.active
            order: -1

        &.tapped
             background: rgba(0,0,0,0.15)

        noselect()
         
    .seller .ic
        font-size: 0.7em