.tabs
    width: 100%
    background: darken(color-gray, 40%)

    display: flex

    height: "calc(%s * 0.45)" % (button-size)
    min-height: "calc(%s * 0.45)" % (button-size)
    flex-basis: "calc(%s * 0.45)" % (button-size)

.tabs .tab
    height: "calc(%s * 0.45)" % (button-size)
    min-height: "calc(%s * 0.45)" % (button-size)
    flex-basis: "calc(%s * 0.45)" % (button-size)
    
    color: white

    cursor: pointer
    position: relative

    white-space: nowrap
    noselect()

    .bg
        position: absolute
        opacity: 0.5
        height: 100%
        top: 0; left: 0; right: 0; bottom: 0
        

    &.active .bg
        opacity: 1

    &.active .label.tapped
        background: none        
        
    &.active .content
        box-shadow: none

    &.active + .tab .content
        box-shadow: none

    &:first-child:last-child 
        .close
            opacity: 0
            pointer-events: none

    .content
        box-shadow: inset 1px 0px 0px rgba(0,0,0,0.1)
        position: relative
        z-index: 1
        display: flex
        height: 100%
        align-items: center

        noselect()



    .label
        padding: 0 22px
        padding-top: 4px
        padding-right: 80px
        display: flex
        align-items: center
        height: "calc(%s * 0.45)" % (button-size)

        &.tapped
            background-color: rgba(0,0,0,0.1)
        *
            pointer-events: none
    
    .close
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        padding-top: 4px
        width: "calc(%s * 0.45)" % (button-size)

        &.tapped
            background-color: rgba(0,0,0,0.1)
        *
            pointer-events: none
        
    .close svg
        width: "calc(%s * 0.2)" % (button-size)
        height: "calc(%s * 0.2)" % (button-size)
        pointer-events: none
        fill: white
    
.tabs .tablist
    display: flex
    flex-grow: 1
    overflow-x: auto
    overflow-y: hidden

.tabs .newtab, .tabs .printer, .tabs .scanner
    width: "calc(%s * 0.45)" % (button-size)
    min-width: "calc(%s * 0.45)" % (button-size)
    height: "calc(%s * 0.45)" % (button-size)

    display: flex

    align-items: center
    justify-content: center

    svg
        width: "calc(%s * 0.25)" % (button-size)
        height: "calc(%s * 0.25)" % (button-size)
        fill: white

    &.tapped
        background-color: rgba(0,0,0,0.2)
        
    *
        pointer-events: none

.tabs .scanner
    &.inactive
        opacity: 0.5
    &.active
        opacity: 1

.tabs .printer
    position: relative

.tabs .printer .status
    position: absolute
    right: "calc(%s * 0.1)" % (button-size)
    top: "calc(%s * 0.1)" % (button-size)
    width: "calc(%s * 0.1)" % (button-size)
    height: "calc(%s * 0.1)" % (button-size)
    border-radius: 100%

    border: 2px solid white
    display: none

    &.inactive
        display: block
        background: color-darkred
    &.active
        display: block
        background: color-lightgreen