.tabs
    width: 100%
    background: darken(color-gray, 40%)

    display: flex

.tabs .tab
    height: "calc(%s * 0.45)" % (button-size)
    
    color: white

    cursor: pointer
    position: relative

    padding-top: 4px

    .bg
        position: absolute
        opacity: 0.5
        height: 100%
        top: 0; left: 0; right: 0; bottom: 0
        

    &.active .bg
        opacity: 1

    &:first-child:last-child .close
        opacity: 0
        pointer-events: none


    .content
        box-shadow: inset 1px 0px 0px rgba(0,0,0,0.1)
        position: relative
        z-index: 1
        display: flex
        height: 100%
        align-items: center

        noselect()

    .label
        padding: 0 22px
        padding-right: 44px
        display: flex
        align-items: center
        height: "calc(%s * 0.45)" % (button-size)
    
    .close
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        width: "calc(%s * 0.45)" % (button-size)
        
    .close svg
        width: "calc(%s * 0.2)" % (button-size)
        height: "calc(%s * 0.2)" % (button-size)
        fill: white
    
.tabs .tablist
    display: flex
    flex-grow: 1

.tabs .newtab
    width: "calc(%s * 0.45)" % (button-size)
    height: "calc(%s * 0.45)" % (button-size)

    display: flex

    align-items: center
    justify-content: center

    svg
        width: "calc(%s * 0.25)" % (button-size)
        height: "calc(%s * 0.25)" % (button-size)
        fill: white