body
    margin: 0
    background: #212121
    display: flex
    flex-direction: column
    height: 100vh

* 
    box-sizing: border-box

#console
    color: #bbb
    flex-grow: 1
    padding: 20px
    overflow: auto
    font-family: monospace

    .log
        max-height: 1.2em
        overflow: hidden

    .log .formatted
        display: none   
    .log.expanded 
        max-height: initial
        .short
            display: none
        .formatted
            display: block
    > *
        margin: 0
        display: flex
        justify-content: flex-start

    .content
        margin: 0
        word-wrap: break-word
        white-space: pre-wrap

    .date 
        flex-basis: 70px
        min-width: 70px
        color: #555

    .tag
        flex-basis: 120px
        min-width: 120px
        display: inline-block

#controls
    display: flex
    background: white
    border-radius: 4px 
    max-height: 80px
    min-height: 80px
    padding: 20px
    margin: 20px
    margin-bottom: 0

    .serverlist
        display: flex

        select
            margin-right: 10px
            padding: 0 10px

    .actions
        display: flex
        justify-content: flex-end
        flex-grow: 1

        button
            padding: .4em 1em
            font-size: 18px
            margin-left: 10px